body {
  background-color: #CBF1F5;

}
hr {

  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;

  width: 5%;
}
h2{
  display:inline-block;

  color: #F47C7C;



}

h2:hover{
  background-color: #2E0249

}
.edu{
  background-color: #F9EBC8;
}
.edu:hover{
  background-color:#006E7F;
}
